body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 40px;
    height: 8vh;
    width: 30vh;
    font-size: 17px;
    border-top-color: #ff0000;
    border-bottom-color:#000000;
    background-color:#43fc00;
}